.top-contact {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
  &__link {
    color: #757575;
    fill: #afb1b8;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  
    &--hover:active,
    &--hover:hover,
    &--hover:focus{
      fill: var(--brand-mlight-color);
      color: var(--brand-mlight-color);
    }
  
    &--end {
        margin-left: 30px;
      }
    }
  &__icon {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  
    &--phone {
      margin-right: 6px;
      margin-bottom: -1px;
  }
  
    &--mail {
      margin-right: 6px;
      margin-bottom: -3px;
  }
  }
  }
  
  
  @media screen and (min-width: 1200px) {
    //desktop
  }
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
  .top-contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  
    &__link--end {
      display: block;
      margin-top: 10px;
      margin-left: 0;
      padding-left: 1px;
      }
    }
  }
  
  //mobile//
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .top-contact {
      display: none;
      overflow: hidden;
    }
  }
  
  
  .ls{
    font-size: 2rem;
  }