:root {
    --text-main-color: #212121;
    --brand-mlight-color: #7097df;
    --brand-second-color: #ffffff;
    --brand-two-color: #2f303a;
    --brand-contact-color: #757575;
    --brand-background-color-1: #2f303a;
    --icon-color: #afb1b8;
    --transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}